{% extends 'nav.html' %}
{% block content %}
{% load static %}
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EM7BCTMFFP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-EM7BCTMFFP');
  </script>
  <script>
    window.addEventListener("load", function () {
      // Add a class to the body to trigger the animation
      document.querySelector('.zooms').classList.add('zoom-in');
    });
  </script>

  <style>
    .zooms {
      transform: scale(0.75);
      transition: transform 1s;
      animation: zoomAnimation 1s forwards;
      /* Apply animation */
    }

    @keyframes zoomAnimation {
      from {
        transform: scale(0.75);
      }

      to {
        transform: scale(1);
      }
    }
  </style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects & Employment</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">


</head>

<body>
  <div class="container-fluid w-75 text-dark my-4 p-4 overflow-x zooms"
    style="background-color: rgba(255, 255, 255, 0.75);" id="mainn">
    <ul class="nav nav-tabs justify-content-center align-items-center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active fw-bold" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects"
          type="button" role="tab" aria-controls="projects" aria-selected="true">Projects</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link fw-bold" id="contact-tab" data-bs-toggle="tab" data-bs-target="#employment"
          type="button" role="tab" aria-controls="employment" aria-selected="false">Employment</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="projects-tab"> <br>
        <div class="container">
          <h2 class="mb-3">PROJECTS</h2>
          <HR>
          </HR>
          <div class="row mb-4">
            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://github.com/Abid-M/uk.co.nfocus.ecommerceproject" target="__blank"><img
                    src="{% static 'ecommerce.png' %}" class="card-img-top" alt="eCommerce Preview"></a>
                <div class="card-body">
                  <h5 class="card-title">eCommerce Automated Tests</h5>
                  <h6 class="card-subtitle mb-2 text-muted">C# / .NET Core / NUnit / SpecFlow / Selenium</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Typescript / NodeJS / Playwright</h6>
                  <p class="card-text">Automated End-to-end tests in a Behavior-Driven Development (BDD) style using
                    SpecFlow/Selenium for an e-commerce website. As well as a playwright testing library version.
                    The tests simulate user interactions like purchasing items, applying discounts, and verifying order
                    details.<br></p>
                  <a href="https://github.com/Abid-M/eCommerce-Automated-Tests-w-Playwright" target="__blank"
                    class="btn btn-info mb-1">Github (Playwright) <i class="fa-brands fa-github"></i></a>
                  <a href="https://github.com/Abid-M/eCommerce-Automated-Tests-w-Selenium" target="__blank"
                    class="btn btn-info mb-1">Github (Selenium) <i class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://history-maze-gmae.onrender.com/index.html" target="__blank"><img
                    src="{% static 'mazeGamePreview.gif' %}" class="card-img-top" alt="Maze Game Preview"></a>
                <div class="card-body">
                  <h5 class="card-title">History Maze Game</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ExpressJS / NodeJS,NPM / HTML / CSS / JavaScript</h6>
                  <p class="card-text">An educational Maze Game web application (MVP), that incorporates checkpoints
                    that asks the user a random history questions, fetched from a created backend API.<br><a
                      href="https://history-maze-gmae.onrender.com/index.html" target="__blank"
                      class="card-text">[https://history-maze-gmae.onrender.com/index.html]</a></p>
                  <a href="https://github.com/Abid-M/History-Maze-Game" target="__blank" class="btn btn-info">Github <i
                      class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://re-energise.xyz/" target="__blank"><img src="{% static 'energydisplay.PNG' %}"
                    class="card-img-top" alt="Energy Management screenshot"></a>
                <div class="card-body">
                  <h5 class="card-title">Energy Management System</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Django, Python / HTML / Bootstrap,CSS / JavaScript</h6>
                  <p class="card-text">FYP Web Application, that helps you to monitor and track your energy usage. The
                    system is designed to help you add,identify household appliances with budget limits and a community
                    forum.<br><a href="https://re-energise.xyz/" target="__blank"
                      class="card-text">[https://re-energise.xyz/]</a>
                  </p>
                  <a href="https://github.com/Abid-M/Energy-Management-System" target="__blank"
                    class="btn btn-info">Github <i class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://github.com/Abid-M/eBayDupe" target="__blank"><img src="{% static 'dupeebay.PNG' %}"
                    class="card-img-top" alt="Auction System Screenshot"></a>
                <div class="card-body">
                  <h5 class="card-title">Auction System</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Django, Python / Vue / HTML / Bootstrap,CSS / JavaScript
                  </h6>
                  <p class="card-text">eBay Dupe web application. Developed with Django backend & Vue frontend. Includes
                    auto email sending, using Ajax where required with Vue and fetch API .</p>
                  <a href="https://github.com/Abid-M/eBayDupe" target="__blank" class="btn btn-info">Github <i
                      class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://github.com/Abid-M/Mindlift-WellbeingApp-Prototype" target="__blank"><img
                    src="{% static 'mindliftapp.gif' %}" style="width: 50%" class="card-img-top text-center"
                    alt="Mobile App Image"></a>
                <div class="card-body">
                  <h5 class="card-title">Well-being Mobile Application</h5>
                  <h6 class="card-subtitle mb-2 text-muted">React Native / Firebase</h6>
                  <p class="card-text">Developed a prototype for a group mobile app, called Mindlift. Utilising React
                    Native framework - javascript and Expo CLI. As well as backend firebase for storing users and
                    appointments (feature).</p>
                  <a href="https://github.com/Abid-M/Mindlift-WellbeingApp-Prototype" target="__blank"
                    class="btn btn-info">Github <i class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://github.com/Abid-M/racing-sim" target="__blank"><img src="{% static 'oopcode.PNG' %}"
                    class="card-img-top text-center" alt="Mobile App Image"></a>
                <div class="card-body">
                  <h5 class="card-title">Racing Simulator Text Game</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Java</h6>
                  <p class="card-text">Implementation of object oriented concepts in my racing game simulator program,
                    such as class hierarchy, inheritance, polymorphism and abstraction.</p>
                  <a href="https://github.com/Abid-M/racing-sim" target="__blank" class="btn btn-info">Github <i
                      class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://github.com/Abid-M/help-bot" target="__blank"><img src="{% static 'ppcode.PNG' %}"
                    class="card-img-top text-center" alt="Procedural Java Code"></a>
                <div class="card-body">
                  <h5 class="card-title">Help-Bot with Triggers/Responses</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Java</h6>
                  <p class="card-text">Developed a java program in a procedural way, including file input/output, that
                    allowed users to ask certain questions determined by trigger words and in response get a useful
                    reply by the program in relation to the question.</p>
                  <a href="https://github.com/Abid-M/help-bot" target="__blank" class="btn btn-info">Github <i
                      class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="{% static 'VB.net-Writeup.pdf' %}" target="__blank"><img src="{% static 'vbpolice.PNG' %}"
                    class="card-img-top" alt="VB.net Code"></a>
                <div class="card-body">
                  <h5 class="card-title">Police Management System</h5>
                  <h6 class="card-subtitle mb-2 text-muted">VB.net / SQL</h6>
                  <p class="card-text">Visual Basic Program, utlising the use of map API with coding processes in SQL &
                    adopting a systematic and methodical approach to writing code.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="{% static 'DBProj.pdf' %}" target="__blank"><img src="{% static 'db.png' %}"
                    class="card-img-top" alt="DB Screenshot"></a>
                <div class="card-body">
                  <h5 class="card-title">Database Design Group Project</h5>
                  <h6 class="card-subtitle mb-2 text-muted">SQL</h6>
                  <p class="card-text">Led a project involving the development of entity-relationship (ER) database
                    model and relational
                    database (normalised in 3NF) based on a covid scenario database requirements.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-4 mb-3">
              <div class="card shadow-lg justify-content-center text-center align-items-center">
                <a href="https://github.com/Abid-M/Abid_Ms-Website" target="__blank"><img
                    src="{% static 'personal.PNG' %}" class="card-img-top text-center" alt="Personal Website"></a>
                <div class="card-body">
                  <h5 class="card-title">Personal Website</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Django, Python / Bootstrap,CSS / JavaScript</h6>
                  <p class="card-text">My personal portfolio website, which I plan to keep up to date with projects and
                    experiences.</p>
                  <a href="https://github.com/Abid-M/Abid_Ms-Website" target="__blank" class="btn btn-info">Github <i
                      class="fa-brands fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="employment" role="tabpanel" aria-labelledby="employment-tab">
        <br>
        <h2 class="mb-3">WORK HISTORY</h2>
        <HR>
        </HR>

        <div class="row text-center">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Graduate Software Engineer, NatWest Group, London
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">(Sept. 2024 - Present)</h6>
                <ul class="card-text">
                  <li>
                    Collaborated closely with cross-functional teams to develop and deploy secure, scalable software solutions that enhance NatWest's digital banking service.
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Graduate SDET Consultant, nFocus Testing
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">(Jan. 2024 - Aug. 2024)</h6>
                <ul class="card-text">
                  <li>
                    Developed robust and maintainable test automation frameworks using C#, JavaScript, and TypeScript, enhancing my ability to deliver high-quality, efficient testing solutions.
                  </li>
                  <li>
                    <b>Automated Test Suite Development:</b> Created automated test suites to ensure software applications are rigorously tested for functionality, performance, and reliability.
                  </li>
                  <li>
                    <b>Technical Skill Enhancement:</b> Expanded my technical expertise in test automation, gaining practical experience in utilising industry-leading tools, includes Playwright and Selenium.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Web Developer Trainee, La Fosse, Victoria</h5>
                <h6 class="card-subtitle mb-2 text-muted">(Oct. 2023 - Dec. 2023)</h6>
                <ul class="card-text">
                  <li>Tech trainee at La Fosse Academy, an award-winning training academy that supercharges
                    technology careers.
                    During an intensive 12-week course, students learn technology fundamentals
                  </li>
                  <li> Engaging in hands-on learning and real-world projects, including building applications, working
                    with databases,
                    and following Agile development practices, demonstrating practical knowledge in software
                    development.</li>
                  <li>Developed practical knowledge in programming languages, frameworks, and software development
                    methodologies:</li>
                  <ul>
                    <li><b>Languages:</b> JavaScript, HTML, CSS, Python</li>
                    <li><b>Frameworks:</b> React, Express</li>
                    <li><b>Software Development Methodologies:</b> Agile, Scrum, Kanban</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Customer Assistant, Lidl, Mitcham</h5>
                <h6 class="card-subtitle mb-2 text-muted">(Aug. 2023 - Jan. 2024) [Part-Time]</h6>
                <ul class="card-text">
                  <li>Effectively guided and assisted customers in utilising self-checkout terminals, ensuring a
                    seamless and efficient shopping experience while addressing any questions or issues they may have.
                  </li>
                  <li>Actively promoted Lidl's loyalty program and special promotions, increasing customer sign-ups and
                    sales.</li>
                  <li>Played a key role in the efficient organization of inventory and restocking, reducing out-of-stock
                    items and improving overall store efficiency.</li>
                  <li>Operated the checkout, handling transactions accurately and providing a positive customer
                    experience</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Customer Service Assistant, Southern Co-op, Wimbledon
                  Ridgway</h5>
                <h6 class="card-subtitle mb-2 text-muted">(Dec. 2021 - July. 2023)</h6>
                <ul class="card-text">
                  <li>Provided customer service by assisting customers with queries, requests, and resolving any issues
                    efficiently.</li>
                  <li>Actively participated in stock merchandising activities to ensure optimal availability of
                    merchandise</li>
                  <li>Operated the checkout, handling transactions accurately and providing a positive customer
                    experience</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Crew Trainer, McDonald's, Tooting Broadway</h5>
                <h6 class="card-subtitle mb-2 text-muted">(1st Jan 2019 - 23rd Dec 2021) [Promoted from Crew Member TO
                  Crew Trainer]</h6>
                <ul class="card-text">
                  <li>Serve as a qualified fast food establishment, contributing to billions of dollars in sales every
                    year, while honing skills like multi-tasking, customer awareness, and handling a fast-paced
                    environment.</li>
                  <li>Collaborated effectively with team members in a high-pressure work environment to deliver customer
                    orders promptly, accurately, and with care.</li>
                  <li>Strengthened interpersonal skills from communication between customers and training staff.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Business Management Virtual Work Experience</h5>
                <h6 class="card-subtitle mb-2 text-muted">(2nd Aug - 13th Aug 2021)</h6>
                <ul class="card-text">
                  <li>Gained a sound understanding of the inner-workings and concepts related to Business Management and
                    the ability to identify the skills needed to pursue a career in this sector.</li>
                  <li>Participated in meaningful interaction with industry professionals through live webinars.</li>
                  <li>Developed knowledge of key employability and transferable skills, as well as a sound awareness of
                    employer expectations.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Waiter, Rajdoot Restaurant, Wimbledon Village</h5>
                <h6 class="card-subtitle mb-2 text-muted">(15th Jan - 2nd Feb 2018)</h6>
                <ul class="card-text">
                  <li>Key skills gained:</li>
                  <ul>
                    <li>Teamwork</li>
                    <li>Customer Awareness</li>
                    <li>Verbal Communication</li>
                    <li>Time management and prioritization</li>
                    <li>Working under pressure</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Content Creator (5,000 Subscribers), YouTube</h5>
                <h6 class="card-subtitle mb-2 text-muted">(2014-2017)</h6>
                <ul class="card-text">
                  <li>Learnt how to manage my time efficiently, whilst acquiring skills like editing and expressing my
                    creativity
                    when planning and creating videos</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title" style="color:#0065C4">Teaching Assistant, Merton Abbey School</h5>
                <h6 class="card-subtitle mb-2 text-muted">(Summer 2017)</h6>
                <ul class="card-text">
                  <li>Duties included:</li>
                  <ul>
                    <li>Preparing activities and materials</li>
                    <li>Tidying rooms after use</li>
                    <li>Working with staff to prepare work and help with lessons</li>
                    <li>Assisting staff with social integration and interaction of the children</li>
                    <li>Assisting with reading, number works, and playtime</li>
                    <li>Employability skills such as communication & literacy, problem-solving</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <script>
      window.addEventListener('load', function () {
        var element = document.getElementById('mainss');
        setTimeout(function () {
          element.classList.add('zoom-in');
        }, 100); // Adjust delay as needed
      });
    </script>
</body>

</html>

<style>
  .sub {
    font-size: 13pt;
    color: black;
    letter-spacing: 1pt;
  }

  .title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .photo {
    margin-top: 2rem;
  }

  .about {
    margin-top: 2rem;
  }

  .about p {
    margin-bottom: 1rem;
  }

  .about b {
    font-weight: bold;
  }


  .skills {
    margin-top: 2rem;
  }

  .hardskills th,
  .hardskills td {
    vertical-align: middle;
    padding: 1rem;
  }

  .softskills th,
  .softskills td {
    padding: 0.5rem;
  }
</style>
{% endblock %}